.page-not-found {
    text-align: center;
    margin-top: 50px;
}

.page-not-found h1 {
    font-size: 3rem;
    color: #f44336;
}

.page-not-found h2 {
    font-size: 2rem;
}

.page-not-found p {
    font-size: 1rem;
}

.page-not-found a {
    color: #007bff;
    text-decoration: underline;
}
